{% extends 'base.html' %}
{% block content %}


<div class="content container-fluid">

    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Các báo cáo</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
    <li class="breadcrumb-item active">Các báo cáo</li>
    </ul>
    </div>
    
    </div>
    </div>
    
    <div class="row">
    <div class="col-sm-12">
        <div class="card-block">
            <h4 class="sub-title">Báo cáo khoảng thời gian</h4>
            <form method="get" action="" enctype="multipart/form-data" action="{% url 'doctor_between_date_report' %}">
                {% csrf_token %}
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Từ ngày</label>
                    <div class="col-sm-10">
                        <input type="date" id="query" name="start_date" class="form-control" required="">
                    </div>
                </div>
                 <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Đến ngày</label>
                    <div class="col-sm-10">
                        <input type="date" id="query" name="end_date" class="form-control" required="">
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-dark">Nộp lại</button>
                    </div>
                </div>
            </form>
                    
                        </div>
    <div class="card card-table">

    <div class="card-body">
        {% if messages %}
        {% for message in messages %}
         {% if message.tags == 'error' %}
       <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
         </button>
          </div>
       {% endif %}
        {% endfor %}
       {% endif %}
           {% if messages %}
        {% for message in messages %}
         {% if message.tags == 'success' %}
       <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
         </button>
          </div>
       {% endif %}
        {% endfor %}
       {% endif %}
    <div class="table-responsive">
    <table class="table table-hover table-center mb-0 datatable">
    <thead>
    <tr>
        {% if doctor %}
        <p style="font-size: 20px;color: blue;text-align: center;">Dữ liệu giữa: "{{ start_date }} to {{ end_date }}"</p>
        <th>Mã lịch hẹn</th>
        <th>Tên bệnh nhân</th>
        <th>Ngày hẹn</th>
        <th>Giờ hẹn</th>
        <th>Ngày tạo</th>
        <th>Trạng thái</th>
        <th class="text-right">Hành động</th>
    </tr>
    </thead>
    <tbody>
        {% for i in doctor %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.admin.first_name}} {{i.admin.last_name}}</td>
            <td>{{i.mobilenumber}}</td>
            <td>{{i.admin.email}}</td>
            <td>{{i.regdate_at}}</td>
            <td class="text-right">
            <div class="actions">
            <a href="{% url 'viewdoctordetails' i.id %}" class="btn btn-sm bg-success-light mr-2">
           Xem
            </a>
            <a href="{% url 'viewdoctorappointmentlist' i.id %}" class="btn btn-sm bg-danger-light">
           Danh sách lịch hẹn
            </a>
            </div>
            </td>
            </tr> {% endfor %}
   
    </tbody>
    </table>
   
                                        {% endif %}
    

    </div>
    </div>
    </div>
    </div>
    </div>
    </div>


{% endblock %}