{% extends 'base.html' %}
{% block content %}


<div class="content container-fluid">

    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Chi tiết lịch hẹn</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Trang chủ</a></li>
    <li class="breadcrumb-item active">Xem lịch hẹn</li>
    </ul>
    </div>
    
    </div>
    </div>
    
    <div class="row">
    <div class="col-sm-12">
    <div class="card card-table">
    <div class="card-body">
        {% if messages %}
        {% for message in messages %}
         {% if message.tags == 'error' %}
       <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
         </button>
          </div>
       {% endif %}
        {% endfor %}
       {% endif %}
           {% if messages %}
        {% for message in messages %}
         {% if message.tags == 'success' %}
       <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
         </button>
          </div>
       {% endif %}
        {% endfor %}
       {% endif %}
    <div class="table-responsive">
    <table class="table table-hover table-center mb-0 datatable">
      {% for i in patientdetails %}
      <tr><label style="font-size: medium;text-align: center;">Mã lịch hẹn: {{i.appointmentnumber}}</label></tr>
        <tr>
            
            <th>Tên bệnh nhân</th>
            <td>{{i.fullname}}</td>
            <th>SĐT bệnh nhân</th>
            <td>{{i.mobilenumber}}</td>
          </tr>
          <tr>
            
            <th>Email bệnh nhân</th>
            <td>{{i.email}}</td>
            <th>Ngày hẹn</th>
            <td>{{i.date_of_appointment}}</td>
          </tr>
          <tr>
            
            <th>Giờ hẹn</th>
            <td>{{i.time_of_appointment}}</td>
            <th>Tin nhắn của bệnh nhân</th>
            <td>{{i.additional_msg}}</td>
          </tr>
          <tr>
                              
            {% if i.status == '0' %}
            <th>Nhận xét của Bác sĩ</th>
            <td>Chưa được cập nhật</td>
            {% else %}
            <tr>
            <th>Nhận xét của Bác sĩ</th>
            <td>{{ i.remark}}</td>{% endif %}
            
              {% if i.status == '0' %}
              <th>Trạng thái</th>
              <td>Chưa được cập nhật</td>
              {% else %}
              <th>Trạng thái</th>
              <td>{{ i.status}}</td> {% endif %}
              </tr>
          
              <tr>
                {% if i.status == 'Completed' %}
                <th>Đơn thuốc theo toa</th>
                <td>{{ i.prescription}}</td>
                {% else %}
                <th>Đơn thuốc theo toa</th>
                <td>Chưa được cập nhật</td> {% endif %}
                </tr>
                <tr>
                  {% if i.status == 'Completed' %}
                  <th>Bài kiểm tra cá nhân</th>
                  <td>{{ i.recommendedtest}}</td>
                  {% else %}
                  <th>Bài kiểm tra cá nhân</th>
                  <td>Chưa được cập nhật</td> {% endif %}
                  </tr>
    </table>
    {% endfor %}
 
    
              </div>
            
              
                        </div>
    

    </div>
    </div>
    </div>
    </div>
    </div>
    </div>


{% endblock %}